<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="row mt-4">
  <div class="col-md-6">
    <h3>Some Info:</h3>
    <h3>Test: </h3>
  </div>

  
  <div class="col-md-6">
    <h3>Some Graphic:</h3>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add new food:</h3>

    <form class="form new-food-form">
      <div class="form-group">
        <label for="food-name">food name:</label>
        <input class="form-input" type="text" id="food-name" name="food-name" />
      </div>
      <div class="form-group">
        <label for="food-weight">amount (servings, cups, etc.):</label>
        <input class="form-input" type="text" id="food-weight" name="food-weight" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 food-list">
    
    <h3>Current Foods:</h3>
    {{#each foods as |food|}}
    <div class="row mb-2 food-name">
      <div  class="col-md-8 ">
        <h4><a href="/food/{{food.id}}">{{food.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger food-delete" data-id="{{food.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
    
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/profile.js"></script>
