<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/signup.css">
<link rel="stylesheet" href="/js/homepage.js">

</html>
 <section class="startSignUp" id="startSignUp"> 
   <button class="signup-Button">Signup!</button>
   </section>

<section class="signupPortal" id="signup-portal"> 
<div class="row">
  <div class="col-md-6">
   <h1 class="display-4">Let's get started!</h1>
    <h4>Signup</h4>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg mt-4" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
</section>