body{
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;}

  .column-1{
    float: left;
    width: 50%;
   
  }
  .column-2{
    float: right;
    width: 50%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column-1 {
      width: 100%;
    }
    .column-2 {
      width: 100%;
    }
  }

.display-4{animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .container {
    height: 500px;
    position: relative;

  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .signupButton{
    display: block;
    width: 100%;
    padding: 14px 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6fcd75;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
  }

  @keyframes glowing {
    0% {
      background-color: #059aa8;
      box-shadow: 0 0 3px #058da8;
    }
    50% {
      background-color: #19ade8;
      box-shadow: 0 0 10px #19b1e8;
    }
    100% {
      background-color: hsl(206, 94%, 34%);
      box-shadow: 4px 0 3px #0585a8;
    }
  }
 

  